<div class="row"><h1>RS Devices</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">Add RS Device</div>
  <div class="panel-body">
    <% content_for(:page_header) do %>
      <%= "Create new device" %>
    <% end %>
    <% content_for :panel_heading do %>Content<% end %>
    
    <%= render 'form' %>
  </div>
</div>