<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Inventory Tool</a>
  </div>

  <ul class="nav navbar-top-links navbar-right pull-right">
    <li class="dropdown">
      <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a href="/"><i class="fa fa-user fa-lg"></i> Profile</a>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to '<i class="fa fa-sign-out fa-fw"></i>Logout</a>'.html_safe, destroy_user_session_path, :method=>'delete' %>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav in" id="side-menu">
         <li>
          <a href="/"><i class="fa fa-pie-chart fa-lg"></i> Dashboard</a>
        </li>
        <li>
          <a href="/devices"><i class="fa fa-laptop fa-lg"></i> RS Devices</a>
        </li>
        <li>
          <a href="/eprodevices"><i class="fa fa-tablet fa-lg"></i>  ePRO Devices</a>
        </li>
        <li>
          <a href="/otherdevices"><i class="fa fa-desktop fa-lg"></i> Other Devices</a>
        </li>
        <li>
          <a href="/items"><i class="fa fa-wrench fa-lg"></i> Items</a>
        </li>
         <li>
          <a href="/simcards"><i class="fa fa-credit-card fa-lg"></i> SIM Cards</a>
        </li>
        <li>
          <a href="/pages/about"><i class="fa  fa-info-circle fa-lg"></i> About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
